<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for(endpoint='static', filename='project_styles.css')}}">
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>


<body>

<div class="fixed-header">
        <div class="container">
            <nav>
                <a href="{{ url_for('homepage') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('contact') }}">Contact Me</a> 
            </nav>
        </div>
    </div> 



<div class="container"></div>    
<form enctype="multipart/form-data" method="post" action="http://localhost:7777/upload/" >
   
            <center>    
            <img src="{{url_for('static', filename='cifar_preview.png')}}" alt="CIFAR10 classes preview" width="476" height="368">
            
            <h3>Step 1: Select Model</h3>
    
            <div class="dropdown">
                <button class="dropbtn" disabled>Choose Here</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('selectVGG') }}">VGG Net</a>
                    <a href="{{ url_for('selectALEX') }}">Alex Net</a>
                    <a href="{{ url_for('selectGOOGLE') }}">GoogLe Net</a>
                    <a href="{{ url_for('selectRESNET') }}">Resnet</a>
                </div>
            </div>
            <h4>GoogLe Net Selected</h4>
            <h3>Step 2: Select Image</h3>
            
            <input type="file" name="image_file" accept="image/*"><br>
            <input type="submit" value="Upload">
            

                </center>
  
</form>
</div>

<div class="fixed-footer">
        <div class="container">Copyright &copy; 2019 Chirag Bhuvaneshwara</div>        
    </div>

</body>
</html>