body{
background: url(floor-tile.png) #cdd0d4;
padding-top: 60px;
padding-bottom: 40px;
}

.error{
font-size:60px;
}

.error-msg{
font-size:50px;
color: rgb(214, 214, 214);
}

span{
font-size: 40px;
color: red;
}

h3 { 
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 30px;
font-style: normal;
font-variant: normal; 
font-weight: 700; 
line-height: 15.4px;
color: rgb(0, 0, 0);
 }


input{
    font-size: 20px;
    color: rgb(90, 90, 90);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
  }

.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}    
/* Some more styles to beutify this example */
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.container p{
    line-height: 200px; /* Create scrollbar to test positioning */
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
  }
